* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	width: 90%;
	/* height: 100vh; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	margin-inline: auto;
}

img {
	width: 100%;
	display: block;
}

.box img {
	border-radius: 10px;
}

.container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(5, 1fr);
}

.box {
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 3;
	row-gap: 0.5rem;

	padding: 10px;
	border-radius: 10px;
	border: solid 1px #ccc;
}
